@import "variables";
@import "mixins";

@include themify($themes) {
  .background-image {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: themed("background-color");
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;

    @include breakpoint-down("small") {
      @include background-image(themed("background-mobile"));
    }

    @include breakpoint-up("small") {
      @include background-image(themed("background-desktop"));
    }
  }
}
