@import "variables";
@import "mixins";

.gu-mirror {
  position: fixed;
  margin: 0;
  z-index: 9999;
  opacity: 0.8;
  background-color: $light-wrapper-bg;
  border-radius: 0.3125rem;
  border: 1px solid $light-border;
}

.gu-hide {
  display: none;
}

.gu-unselectable {
  user-select: none;
}

.gu-unselectable::-moz-selection {
  background: transparent;
}

.gu-unselectable::selection {
  background: transparent;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
