@import "variables";

// Responsive Design
$breakpoints-up: (
  "desktop": 1440px,
  "tablet": 768px,
  "mobile": 480px,
);

$breakpoints-down: (
  "desktop": 1439px,
  "tablet": 767px,
  "mobile": 479px,
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

// Background Image
@mixin background-image($image) {
  background-image: url($image);
}

// Theme

// Mixin for handling themes
@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}

// Function to get themed values
@function themed($key) {
  @return map-get($theme-map, $key);
}
