// Background Images
$bg-dark-desktop: "../assets/bg-desktop-dark.jpg";
$bg-dark-mobile: "../assets/bg-mobile-dark.jpg";
$bg-light-desktop: "../assets/bg-desktop-light.jpg";
$bg-light-mobile: "../assets/bg-mobile-light.jpg";

// Common Colors
$dark-bg: #171823;
$light-bg: #fafafa;
$icon-color: #fff;
$highlight-text: #3a7cfd;
$header-text: #fff;

// Light Theme
$light-text-active: #494c6b;
$light-text-inactive: #9495a5;
$light-text-crossed: #d1d2da;
$light-wrapper-bg: #fff;
$light-border: #e3e4f1;

// Dark Theme
$dark-text-active: #c8cbe7;
$dark-text-inactive: #767992;
$dark-text-crossed: #4d5067;
$dark-wrapper-bg: #25273d;
$dark-border-checkmark: #393a4b;

// Theme Colors
$themes: (
  light: (
    text-active: $light-text-active,
    text-inactive: $light-text-inactive,
    text-crossed: $light-text-crossed,
    wrapper-bg: $light-wrapper-bg,
    border: $light-border,
    background-color: $light-bg,
    background-desktop: $bg-light-desktop,
    background-mobile: $bg-light-mobile,
  ),
  dark: (
    text-active: $dark-text-active,
    text-inactive: $dark-text-inactive,
    text-crossed: $dark-text-crossed,
    wrapper-bg: $dark-wrapper-bg,
    border: $dark-border-checkmark,
    background-color: $dark-bg,
    background-desktop: $bg-dark-desktop,
    background-mobile: $bg-dark-mobile,
  ),
);
